{% extends 'pages/base.html' %}
{% block content %}
{% if edit_mode %}
<form action="" method="post">
    {% csrf_token %}
    <div class="row">
        <div class="col">

            <div class="row mb-3">
                <div class="col">
                    <label class="form-check-label" for="id_name">
                        Название
                    </label>
                    <input name="name" type="text" value="{{ snippet.name }}" class="form-control" id="id_name">
                    
                </div>
            </div>

            <div class="row mb-3">
                <div class="col">
                    <label class="form-check-label" for="id_lang">
                        Язык
                    </label>
                    <input name="lang" type="text" value="{{ snippet.lang }}" class="form-control" id="id_lang">
                </div>
            </div>

            <div class="row mb-3">
                <div class="col">
                    <label class="form-check-label" for="id_code">
                        Код
                    </label>
                    <textarea id="id_code" name="code" rows="10" class="form-control">{{ snippet.code }}</textarea>
                </div>
            </div>

            <div class="row mb-3 pl-3">
                <div class="col">
                    <input class="form-check-input" type="checkbox" name="public" value="True" id="id_public" 
                    {% if snippet.public %}
                        checked
                    {% endif %}
                    > 
                    <label class="form-check-label" for="id_public">
                        Публичный сниппет
                    </label>
                </div>    
            </div>
        </div>

        <div class="col-4">
            <div class="row mb-3">
                <div class="col">
                    <label class="form-check-label" for="id_create_at">
                        Дата создания:
                    </label>
                    <input type="text" value="{{ snippet.created_at|date:'d.m.Y H:i' }}" class="form-control" id="id_create_at" readonly/>
                </div>                     
            </div>

            <div class="row mb-3">
                <div class="col">
                    <label class="form-check-label" for="id_create_at">
                        Дата последнего изменения:
                    </label>
                    <input type="text" value="{{ snippet.updated_at|date:'d.m.Y H:i' }}" class="form-control" readonly/>
                </div>
            </div>
        </div>

    </div>
    <hr>
    <div class="form-group row">
        <div class="col-4"></div>
        <div class="col-4">
            <input type="submit" class="btn btn-primary btn-block" value="Сохранить изменения">
        </div>
        <div class="col-4"></div>
    </div>
</form>
{% else %}
<fieldset disabled>
    <div class="row ">
        <div class="col-3">
            Название: <input type="text" value="{{ snippet.name }}" class="form-control">
        </div>
        <div class="col-3">
            Язык: <input type="text" value="{{ snippet.lang }}" class="form-control">
        </div>
        <div class="col-3">
            Дата создания:<input type="text" value="{{ snippet.created_at|date:'d.m.Y H:i' }}" class="form-control">
        </div>
        <div class="col-3">
            Дата последнего изменения:<input type="text" value="{{ snippet.updated_at|date:'d.m.Y H:i' }}"
                                       class="form-control">
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col">
            Код: <textarea id="code" name="code" rows="10" class="form-control">{{ snippet.code }}</textarea>
        </div>
    </div>
</fieldset>
{% endif %}
{% endblock %}