{% extends 'pages/base.html' %}

{% block content %}
<div class="row">
    <div class="col">
        <p>На данной страницы будут отображаться все созданные сниппеты.</p>
        <hr>
    </div>
</div>
<div class="font-weight-bold mb-1">
    Список сниппетов:
</div>
<div class="row">
    <div class="col">
        <table class="table table-striped">
            <thead class="thead-dark">
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Название</th>
                <th scope="col">Пользователь</th>
                <th scope="col">Дата создания</th>
                <th scope="col">Редактирование</th>
                <th scope="col">Удаление</th>
            </tr>
            </thead>

            <tbody>
            {% for snippet in snippets %}
            <tr>
                <td scope="row">{{ snippet.id }}</td>
                <td><a href="{% url 'get_snippet' id=snippet.id %}">{{ snippet.name }}</a></td>
                <td>{{ snippet.user.username }}</td>
                <td>{{ snippet.created_at|date:'d.m.Y H:i' }}</td>
                <td><a href="{% url 'edit_snippet' id=snippet.id %}">Редактировать</a></td>
                <td><a href="{% url 'delete_snippet' id=snippet.id %}">Удалить</a></td>
            </tr>
            {% endfor %}
            </tbody>

        </table>
        <div class="row">
            <div class="col">
                <div align="left">
                    <i style="color: gray;">Всего сниппетов: {{ snippets_count }}</i>
                </div>
            </div>
        </div>
        <br>
    </div>
</div>
{% endblock %}